@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

html,
body {
  margin: 0;
  font-family:
    'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  background: var(--surface-ground);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
